@page "/"
@inject IJSRuntime jsRuntime
<!--
- #SKIP TO CONTENT
-->

<a href="javascript:void(0);" @onclick="Default" class="skip-to-content">Skip to Content</a>


<!--
- #HEADER
-->

<header class="header" data-header>
    <div class="container">

        <a href="javascript:void(0);" @onclick="Default" class="logo">
            <span class="text-primary">Git</span>Finder
        </a>

        <div class="header-search">

            <button class="icon-btn search-toggler" aria-controls="searchBox" aria-expanded="false"
                    aria-label="Toggle search" data-search-toggler>
                <span class="material-symbols-rounded search-icon" aria-hidden="true">search</span>

                <span class="material-symbols-rounded close-icon" aria-hidden="true">arrow_back</span>
            </button>

            <div class="search-box" id="searchBox">

                <span class="material-symbols-rounded leading-icon" aria-hidden="true">search</span>

                <input type="search" name="search" @bind-value=_search aria-label="Search github username" placeholder="Search username*"
                       class="search-field label-1" data-search-field>

                <button class="search-btn" aria-label="Search submit" @onclick=Search data-search-submit>
                    <span class="material-symbols-rounded" aria-hidden="true">search</span>

                    <span class="label-1">Search</span>
                </button>

            </div>

        </div>

        <button class="icon-btn theme-btn" aria-pressed="false" @onclick = "ChangeTheme"
         aria-label="Toggle dark and light theme" data-theme-btn>
            @{
                string Icon = Mode == "light_mode" ? "sun-icon" : "moon-icon";
            }
            <span class="material-symbols-rounded @Icon" aria-hidden="true">@Mode</span>

            @*<span class="material-symbols-rounded moon-icon" aria-hidden="true">dark_mode</span>*@
        </button>

    </div>
</header>


<main class="main" id="main">
    <div class="container">
        @if (_notFound)
        {
            <!--
            - #ERROR CONTENT
            -->
            <section class="error" data-error="" style="display: grid;">
                <p class="title-1">Oops! :(</p>

                <p class="text">
                    There is no account with this username yet.
                </p>
            </section>
        }
        else
        {
            <!--
            - #PROFILE
            -->

            <PageProfile data="_profile"/>

            <!--
            - #TAB
            -->
@if (!_searching)
{
    <section class="tab-container">

        <div class="tab-list" aria-label="Tab navigation" role="tablist">

            <button class="tab-btn"
                    @onclick="() => ChangeTab(EnumTabType.Repositories)"
                    aria-selected="@SelectedTab(EnumTabType.Repositories)" role="tab" id="tab-1" tabindex="0" aria-controls="panel-1"
                    data-tab-btn>
                Repositories
            </button>

            <button class="tab-btn"
                    @onclick="() => ChangeTab(EnumTabType.Forked)"
                    aria-selected="@SelectedTab(EnumTabType.Forked)" role="tab" id="tab-2" tabindex="-1" aria-controls="panel-2"
                    data-tab-btn data-forked-tab-btn>
                Forked
            </button>

            <button class="tab-btn"
                    @onclick="() => ChangeTab(EnumTabType.Followers)"
                    aria-selected="@SelectedTab(EnumTabType.Followers)" role="tab" id="tab-3" tabindex="-1" aria-controls="panel-3"
                    data-tab-btn data-follower-tab-btn>
                Followers
            </button>

            <button class="tab-btn"
                    @onclick="() => ChangeTab(EnumTabType.Following)"
                    aria-selected="@SelectedTab(EnumTabType.Following)" role="tab" id="tab-4" tabindex="-1" aria-controls="panel-4"
                    data-tab-btn data-following-tab-btn>
                Following
            </button>

        </div>

        <div class="tab-panel" role="tabpanel" id="panel-1" aria-labelledby="tab-1" tabindex="0" data-tab-panel
             data-repo-panel style="@Hidden(EnumTabType.Repositories)">
            <PageRepositories data="_repositories"></PageRepositories>
        </div>

        <div class="tab-panel" role="tabpanel" id="panel-2" aria-labelledby="tab-2" tabindex="0" data-tab-panel
             data-fork-panel style="@Hidden(EnumTabType.Forked)">
            <PageForked data="_repositories"></PageForked>
        </div>

        <div class="tab-panel" role="tabpanel" id="panel-3" aria-labelledby="tab-3" tabindex="0" data-tab-panel
             data-follower-panel style="@Hidden(EnumTabType.Followers)">
            <PageFollowers data="_follower" onClick="ClickUser"></PageFollowers>
        </div>

        <div class="tab-panel" role="tabpanel" id="panel-4" aria-labelledby="tab-4" tabindex="0" data-tab-panel
             data-following-panel style="@Hidden(EnumTabType.Following)">
             <PageFollowing data="_following" onClick="ClickUser"></PageFollowing>
        </div>

    </section>
}
        }
    </div>
</main>


<!--
- #FOOTER
-->

<footer class="footer container">
    <p class="copyright">&copy; 2023 codewithsadee</p>
</footer>